# Dataset (Ignore large data files but keep folder structure via .gitkeep)
*.csv
*.parquet


# Python / Virtual Environment
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
